body {
    font-family: 'Source Sans Pro', sans-serif;
    min-width: 350px;
    padding: 0 5%;
}

.back {
    font-size: 15px;
    display: none;
    float: left;
    position: absolute;
    top: 20px;
    color: #3366BB;
}
    .back:hover {
        cursor: pointer;
    }

#title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;
    padding-bottom: 10px;
    border-bottom: .5px solid lightgray;
    color: #32394C;
}


.arrow {
    float: right;
    top: 50px;
    position: relative;
}
    .arrow:hover {
        cursor: pointer;
    }


.tabs {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: .5px solid lightgray;
}

.tabs a, .tabs a:visited {
    margin: 0 55px;
    text-decoration: none;
    color: darkgray;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.tabs a.active {
    font-weight: 800;
    color: black;
}




#player-list .player {
    margin-bottom: 25px;
}

#player-list .player-name {
    font-size: 22px;
    margin: 5px 0;
    padding-top: 10px;
}
#player-list .team-name {
    font-size: 18px;
    font-weight: 400;
    margin: 8px 0;
}
#player-list .position {
    font-size: 17px;
    font-weight: 400;
    color: gray;
    margin: 8px 0;
}


#player-bio {
    display: none;
}

.col {
    display: inline-block;
    vertical-align: middle;
}

.section {
    margin-top: 20px;
}

.section h3 {
    font-size: 22px;
    margin: 22px 0 8px;
}


.player-photo {
    width: 100px;
    height: 125px;
    background-size: cover;
    background-position: center center;
    margin-right: 30px;
}



.bio-header .player-name {
    font-size: 26px;
    margin: 5px 0;
    padding-top: 10px;
}

.bio-header .team-name {
    font-size: 20px;
}

.bio-header .position {
    font-size: 18px;
    color: gray;
}

.bio-header h4 {
    font-size: 16px;
    font-weight: 400;
    margin: 4px 0;
}

.info-col {
    display: inline-block;
    width: 60px;
}
.info-col:last-child {
    width: 200px;
}

.info-col p, .stats-col p {
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0;
}

.info-col h5, .stats-col h5 {
    font-size: 16px;
    font-style: bold;
    margin: 5px 0;
}



.stats {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

.stats-col {
    display: inline-block;
    width: 30px;
    margin-right: 10px;
}

.score {
    font-size: 16px;
    font-style: bold;
    margin: 5px 0 30px;
}




