body {
    font-family: 'Source Sans Pro', sans-serif;
    min-width: 350px;
    padding: 0 5%;
}

span {
    margin-right: 20px;
}

.arrow {
    float: right;
    top: 50px;
    position: relative;
}

.col {
    display: inline-block;
    vertical-align: middle;
}

#title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;
    padding-bottom: 10px;
    border-bottom: .5px solid lightgray;
}


.athlete-photo {
    width: 100px;
    height: 125px;
    background-size: cover;
    background-position: center center;
    margin-right: 30px;
}

.bio2 {
    margin-top: 20px;
}

.bio1 h4, .bio2 p {
    font-size: 16px;
    font-weight: 400;
    margin: 6px 0;
}

.bio1 .athlete-name {
    font-size: 26px;
    margin: 10px 0;
    padding-top: 10px;
}

.bio1 .team-name {
    font-size: 20px;
}

.bio1 .position {
    font-size: 18px;
    color: gray;
}


/*.stats .pts {
    font-size: 15px;
}

.stats .reb {
    font-size: 15px;
}

.stats .ast {
    font-size: 15px;
}

.stats .stl {
    font-size: 15px;
}

.stats .blk {
    font-size: 15px;
}

.stats .tov {
    font-size: 15px;
}

.stats .score {
    font-size: 18px;
}*/

.stats {
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}





